:root {
    --main : #e4a322;
    --main-dark : #c89226;
    --black : #393434;
    --gray : #393434cc;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* GENERAL */
.tc-main {
    color: var(--main);
}
.tc-black {
    color: var(--black);
}
.tc-gray {
    color: var(--gray);
}

.btn-main {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: var(--main);
    border: 1px solid transparent;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-main:hover {
    color: white;
    background-color: var(--main-dark);
    font-size: 1rem;
    border-radius: 0px;
}

.btn:focus {
    box-shadow: none !important;
}

.line-decoration {
    position: relative;
}

.line-decoration::before {
    content: "";
    width: 100px;
    height: 5px;
    background-color: var(--main);
    position: relative;
    display: inline-block;
    transform: translateY(-100%);
    margin-right: 50px;
}
.dropdown-menu{
    border-radius: 20px;
    background: rgb(255, 255, 255)
   
}

/* HEADER */
header {
    padding: 50px 50px 0px 50px;
}
.masthead {
    height: calc(100vh - 50px);
    background: linear-gradient(#000000ad , #000000ad) , url('./img/masthead.jpg');
    background-size: cover;
    background-position: bottom center;
}

/* NAVBAR */

.navbar-presto {
    margin : 0px 50px;
    border-bottom: 2px solid var(--gray);
    transition: all 0.5s;
    background: white;
}

.navbar-presto .edge-link {
    min-width : 120px;
    padding: 0px !important;
}

.navbar-presto .navbar-nav .nav-link{
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 30px;
    transition: all 0.5s;
}

.navbar-presto .navbar-brand{
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.5s;
}

.navbar-presto .nav-link:hover ,  .navbar-presto .navbar-brand:hover{
    color: var(--black);
    transform: scale(1.1) !important;
}

.navbar-presto .nav-link.dropdown-toggle:hover {
    color: var(--black);
    transform: scale(1) !important;
}

.navbar-toggler i {
    transition: all 0.5s;
}

.navbar-presto .dropdown-toggle::after {
    transform: rotate(90deg);    
    transition: all 0.5s;
}

.navbar-presto .show.dropdown-toggle::after {
    transform : rotate(0deg)
}

/* CATEGORIE */
.card-category {
    position: relative;
    max-width: 320px;
    margin: auto;
}
.category-number {
    font-size: 50px;
    color: var(--main);
    font-weight: bold;
    position: absolute;
    left: 50%;
    /* top: -40px; */
    transform: translateX(-50%) translateY(-50%);
    z-index: 1010;
    transition: all 0.5s;
}

.image-container {
    position: relative;
}

.image-container .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.424);
    position: absolute;
    padding: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    transition: all 0.5s;
}

.image-container .overlay p {
    opacity: 0;
    transition: all 0.5s;
}

.card-category .category-title {
    color: var(--black);
    transition: all 0.5s;
}

.card-category:hover .category-number {
    font-size: 60px;
}

.card-category:hover .image-container .overlay {
    background-color: rgba(0, 0, 0, 0.602);
}

.card-category:hover .image-container .overlay p {
    opacity: 1;
}

.card-category:hover .category-title {
    color: var(--main);
}

/* CALL TO ACTION */
.cta-bg {
    background: linear-gradient(#000000ad , #000000ad ) , url(./img/cta-bg.jpeg);
    height: 70vh;
    background-position: center 70%;
    background-attachment: fixed;
}
.input-search input {
    padding: 16px 32px;
    border-radius:10px;
    background : #00000022;
    border-color: transparent;
    transition: all 0.5s;
}

.input-search input:focus {
    box-shadow: none;
}

.input-search input::placeholder {
    color : #fcfcfce7;
}

.input-search button {
    border-color: transparent;
    color: var(--main);
    width: 55px;
    border-radius: 10px;
}

.input-search button:hover {
    color: rgb(255, 255, 255);
    background-color:#e4a32286;
    transition: all 2s;
}

/* ULTIMI ANNUNCI */

.product-card { 
    position: relative;
    max-width: 300px;
    margin: auto;
    padding: 50px 0px;
}
.product-card .product-image {
    position: relative;
    overflow: hidden;
}

.product-card .product-image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    z-index: 1;
}

.product-card:hover .product-image .overlay {
    background-color: rgba(0, 0, 0, 0.2);

}

.product-card .product-image img {
    transition: all 0.5s;
}

.product-card:hover .product-image img {
    transform: scale(1.2);
}

.swiper-button-next, .swiper-button-prev {
    color: var(--main);
}

.swiper-pagination-bullet-active {
    background: var(--main);
}

/* MASTHEAD PRODUCT PAGE */
.masthead-products-page {
    height: 50vh;
    background: linear-gradient(#000000ad , #000000ad) , url('./img/masthead-products.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Sezione Filtri */

#accordionFilters .accordion-button{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}

#accordionFilters .accordion-item{
    background-color: transparent;
    border: none;
}

#accordionFilters .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: var(--main);
}

#accordionFilters .accordion-button::after {
    background-image: none;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f078";
}

#accordionFilters .accordion-button:focus {
    box-shadow: none;
}

/* MEDIA */

@media screen and (max-width: 400px) {
    .line-decoration::before {
        content: "";
        width: 100px;
        height: 5px;
        background-color: var(--main);
        position: relative;
        display: inline-block;
        transform: translateY(-100%);
        margin-right: 20px;
    }
}


/* Linkedin */
.linkedin{
    text-decoration: none;
    color: white;
}
.linkedin:hover{
    text-decoration: none;
    color: var(--main)
}